<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJC6fvZyCRM9bRNXDMdaoTh7CRssJZz6k</string>
	<key>GCM_SENDER_ID</key>
	<string>840820351367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>annalukash.videoapp</string>
	<key>PROJECT_ID</key>
	<string>videoapp-212d2</string>
	<key>STORAGE_BUCKET</key>
	<string>videoapp-212d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840820351367:ios:baabe9f82a16f304d4b322</string>
</dict>
</plist>